@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}

.main-container {
  transform: translate(-50%, 15%);
  /* background-color: red; */
  position: absolute;
  height: 70vh;
  right: 50%;
  width: 75%;
  left: 50%;
  grid-template-columns: 50% auto;
}

.main-img-con {
  /* background-color: royalblue; */
  height: 100%;
  width: 100%;
  align-items: center;
}
.main-img {
  height: 85%;
  width: 100%;
  background-image: url("/images/Scarecrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-text-con {
  /* background-color: yellow; */
  align-items: center;
  height: 100%;
  width: 100%;
}
.main-text {
  /* background-color: green; */
  height: 85%;
  width: 100%;
  font-family: "Space Mono", monospace;
}

.main-text > h1 {
  font-family: 700;
  font-size: 60px;
  color: #333333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.main-text > p {
  font-family: 400;
  font-size: 24px;
  width: 70%;
  margin-top: 25px;
  margin-bottom: 60px;
}

.main-text > button {
  background-color: #333333;
  width: 216px;
  height: 68px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
