@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

body {
  padding: 20px;
  margin: 0;
}

.page-title {
  font-family: Inconsolata, monospace;
  transform: translateY(-80px);
  margin-left: 3%;
}

.page-title > h1 {
  font-size: 26px;
}

main {
  transform: translatex(20%);
  align-items: center;
  position: absolute;
  display: flex;
  height: 80%;
  width: 70%;
}

.image {
  background-image: url("/images/Scarecrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70%;
  width: 50%;
}

.text-con {
  font-family: "Space Mono", monospace;
  height: 100%;
  width: 50%;
}

.text-con > button,
h1,
p {
  margin-left: 20px;
  transform: translateY(80px);
}

.text-con > h1 {
  font-size: 40px;
}

.text-con > p {
  font-size: 24px;
}

button {
  transform: translateY(100px) !important;
  background-color: #333333;
  color: #ffffff;
  font-size: 14px;
  width: 200px;
  height: 68px;
  border: none;
}

@media screen and (max-width: 500px) {
  .page-title {
    margin-left: -4%;
  }

  main {
    transform: translate(-5.3%);
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .image {
    margin: auto;
    width: 80%;
    height: 40%;
  }

  .text-con {
    width: 100%;
  }

  .text-con > p {
    font-size: 17px;
  }
  .text-con > h1,
  p {
    transform: translateY(-20px);
  }

  button {
    transform: translateY(20px) !important;
  }
}
